<!-- Footer to be used on every page and route of the website -->    
    
    
    <p id = "websiteContact" class = "text"> Designed by Anton, Christian, and Riasat</p>
    
    </body>
</html>