<!DOCTYPE html> <!-- Using HTML5-->

<html> <!-- container for document-->
    
    <head>
        <!--Character Encoding--> 
        <meta charset= "utf-8">
        
        <link rel = "stylesheet" href = "RideOrDrive.css">
        <link rel = "stylesheet" href = "universal.css">
        <link rel = "stylesheet" href = "loginPage.css">
        <link rel = "stylesheet" href = "registerForm.css">
        <link rel = "stylesheet" href = "personalPage.css">
        <link rel = "stylesheet" href = "editProfile.css">
        
        <title>Ride Or Drive</title>
    </head>

    <body>
        <div id = "header">
                <a href = "/" id = "websiteLogo"> <img src= "https://lh6.ggpht.com/TzMkdj8C6dTcg_kDRxxGRBC3pM-UDiNL3t6VKNoMSumbhUeqZzs5PT3UfgkbJpORSV4=w300" width = "100" height = "80"></a>
            <div id = "websiteTitle">
               <h1><em>RideOrDrive</em></h1>
            </div>
            
        </div>