<!DOCTYPE html> <!-- Using HTML5-->

<html> <!-- container for document-->
    
    <head>
        <meta charset= "utf-8">   <!--Character Encoding--> 
        <link rel = "stylesheet" href = "LoginPage.css">
        <title>Ride Or Drive - Login</title>
    </head>

    <body>
        <div id = "header">
            <a id = "websiteLogo"> <img src= "http://www.greatersudbury.ca/sudburyen/assets/Image/carpool%20460.jpg" width = "100" height = "80"></a>
            
            <div id = "websiteTitle">
               <h1><em>RideOrDrive</em></h1>
            </div>
            
        </div>