        <div id = "navBar">
            <h3 id = "profile">Profile</h3>
            <h3 id = "history">History</h3>
            <h3 id = "currentPosts">Current Posts</h3>
            <h3 id = "createAPost">Create a Post</h3>
            <h3 id = "notifications">Notifications</h3>
            <h3 id = "logout">Logout</h3>
        </div>