<nav>
    <ul>
        <li><a href="/">Profile</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/currentPosts">Current Posts</a></li>
        <li><a href="/createAPost">Create a Post</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>