
<!-- Navigation Bar that the user will have access to on each page and route once he or she creates an account and logs in -->

<nav id = "navBar">
        <h3 class = "text"><a id="personalpage" href="/">Search</a></h3>
        <h3 class = "text"><a id="profile" href="/profile">Profile</a></h3>
        <h3 class = "text"><a id = "history" href="/history">History</a></h3>
        <h3 class = "text"><a id = "getCurrentPosts" href="/getCurrentPosts">Current Posts</a></h3>
        <h3 class = "text"><a id = "createpost" href="/getCreatePost">Create a Post</a></h3>
        <h3 class = "text"><a id = "notifications" href="/notifications">Notifications</a></h3>
        <h3 class = "text"><a id="logout" href="/logout">Logout</a></h3>
</nav>