
<!-- A page that allows the user to change his or her password -->

<%include chunks/header %>
        
        <div id = "websiteBio">
            <h3 class = "title" id = "slogan">The Ultimate Travel Hub Has Arrived.</h3> <h4 class = "text"> Coordinate car pools, plan road trips, and save money in the process.
            With RideOrDrive, getting from point A to point B has never been easier.</h4>
        </div>
        
        <form name = "login" change="login" method="post" action="/login">
            <fieldset>
                <legend>Login</legend>
                <label for="username">Username: </label>
                <input class = "form" id = "username" type = "text" name = "username">
                <label for="password">Password: </label>
                <input class = "form" id = "password" type = "password" name = "password">
                <input class = "button" id = "login_submit" type="submit">
                <a class = "text" href ="/changePassword">Change Password</a>
            </fieldset>
        </form>
        
        <!-- Extra form that appears when the user clicks "change password" link-->
        
        <form name = "changePassword" id="changePassword" method="post" action="/changePassword">
            <fieldset>
                <% if (error) { %>
                    <p class = "text" id="error"><%= error %></p>
                <% } %>
                <legend>Change Password</legend>
                <label for="username">Username: </label>
                <input class = "form" id = "username" type = "text" name = "username">
                <label for="password">Old Password: </label>
                <input class = "form" id = "password" type = "password" name = "password">
                <label for="confirmPassword">New Password: </label>
                <input class = "form" id = "password" type = "password" name = "newPassword">
                <label for="confirmPassword">Confirm Password: </label>
                <input class = "form" id = "password" type = "password" name = "confirmPassword">
                <button class = "button" id = "ChangePassword" type="submit">Change Password</button>
            </fieldset>
        </form>
        
<% include  chunks/footer %>






