<% include chunks/header %>
<% include chunks/nav %>

<nav id="navBar">
        <h3 class = "text"><a id="getRiderConnections" href="/getRiderConnections">Rider Connections</a></h3>
        
        <br>
        <br>
        
        <h3 class = "text"><a id="getDriverConnections" href="/getDriverConnections">Driver Connections</a></h3>

</nav>

<% include chunks/footer %>