<% include chunks/header %>
<% include chunks/nav %>

        <form method ='post' action='/createPost'>
            <label for="f_fromInput">From: </label>
            <input id = "f_fromInput" name="FromLocation">
            <label for="f_toInput">To:  </label>
            <input id = "f_toInput" name="ToLocation"> <br>
            
            
            <div id = "timeOfDeparture">
                
                <!-- TIME INPUT HERE -->                
                <h4 class = "title">Time of Departure (required)</h4>
                
                <label for="f_day">Date:</label>
                <input id = "f_day" name = "DepartureDate" type = "date" required> <br>
                    
                <label for="f_hour"> Hour: </label>
                <input id = f_hour" name = "DepartureHour" type = "number" min = "0" max = "24" required><br>
                    
                <label for="f_minute"> Minute: </label>
                <input id = f_minute" name = "DepartureMinute" type = "number" min = "0" max = "60" required>
            
            </div>
           
            <div id = "timeOfArrival">
                
                <!-- TIME INPUT HERE -->
                        
                <h4 class = "title">Time of Arrival (optional)</h4>
                    
                <label for="f_day">Date:</label>
                <input id = "f_day" name = "ArrivalDate" type = "date"><br>
                        
                <label for="f_hour"> Hour: </label>
                <input id = f_hour" name = "ArrivalHour" type = "number" min = "0" max = "24"> <br>
                    
                <label for="f_minute"> Minute: </label>
                <input id = f_minute" name = "ArrivalMinute" type = "number" min = "0" max = "60">
            </div><br>
            
            <label for="f_passengers">Current Number of Passengers (Driver Option): </label>
            <input id ="f_passengers" name = "Passengers" type = "number" min ="0" max = "10" required>
                
            <label for="f_seats">Number of Seats Available (Driver Option): </label>
            <input id ="f_seats" name = "SeatsAvailable" type = "number" min = "0" max = "10" required>
                    
            <label for="f_fare">Fare: </label>
            <input id ="f_fare" name = "Fare" type = "number" min = "0" required>    <br>
                
            
        
            <label for = "f_RideOrDriveOption">Are you a passenger or driver?</label>
            <select id = "f_RideOrDriveOption" name = "RideOrDriveOption">
                <option name="rider">Rider</option>
                <option name="driver">Driver</option>
            </select> <br>
                
            <input class = "button" id="submitPost" type = "submit">
        </form>
            
<% include chunks/footer %>