<% include chunks/header %>
<% include chunks/nav %>

        <form method ='post' action='/createPost'>
            
            <!-- Shows the driver options only if the user is a driver-->
            <script>
                function checkOption(){
                    if (document.getElementById('f_RideOrDriveOption').value === "driver"){
                        document.getElementById('f_driverOptions').hidden = false;    
                    }
                    else{
                        document.getElementById('f_driverOptions').hidden = true;
                    }
                }  
            </script>
            
            <!-- Checks if the user is a rider or a driver-->
            <label for = "f_RideOrDriveOption">Are you a passenger or driver?</label>
            <select id = "f_RideOrDriveOption" name = "RideOrDriveOption" onchange="checkOption()">
                <option value="rider">Rider</option>
                <option value="driver">Driver</option>
            </select>
            <br>
            
            <div id="fromLocation">
            <h4 class = "title">From: </h4>
            <label for = "f_fromAddress">Address: </label>
            <input id = "f_fromAddress" name = "fromAddress" type = "text" required>
            <label for = "f_fromCity">City: </label>
            <input id = "f_fromCity" name = "fromCity" required>
            <label for = "f_fromState">State: </label>
            <select id = "f_fromState" name = "fromState">
                <script>
                    var selector = document.getElementById('f_fromState');
                    var states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii",
                                  "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan",
                                  "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico",
                                  "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island","South Carolina",
                                  "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];
                    for (var i=0; i<states.length; i++){
                        selector.options[i] = new Option(states[i], states[i]);
                    }
                </script>
            </select>
            <br>
            </div>
            
            <div id="toLocation">
            <h4 class = "title">To: </h4>
            <label for = "f_toAddress">Address: </label>
            <input id = "f_toAddress" name = "toAddress" type = "text" required>
            <label for = "f_toCity">City: </label>
            <input id = "f_toCity" name = "toCity" required>
            <label for = "f_toState">State: </label>
            <select id = "f_toState" name = "toState">
                <script>
                    var selector = document.getElementById('f_toState');
                    var states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii",
                                  "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan",
                                  "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico",
                                  "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island","South Carolina",
                                  "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];
                    for (var i=0; i<states.length; i++){
                        selector.options[i] = new Option(states[i], states[i]);
                    }
                </script>
            </select>
            <br>
            </div>
            
            <div id = "timeOfDeparture">
                
                <!-- TIME INPUT HERE -->                
                <h4 class = "title">Departure:</h4>
                
                <label>Day: </label>
                <select id ="f_DepartureDay" name = "DepartureDay">
                    <script>
                        var selector = document.getElementById('f_DepartureDay');
                        for (var i=1; i<32; i++){
                            selector.options[i-1] = new Option(i, i);
                        }
                    </script>
                </select>
                
                <!-- Sets the day to the current day of the month-->
                <script>
                    var selector = document.getElementById('f_DepartureDay');
                    var date = new Date();
                    var day = date.getDate();
                    selector.selectedIndex = day - 1
                </script>
                
                <select id="f_DepartureMonth" name="DepartureMonth">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                
                <!-- Sets the month to the current month-->
                <script>
                    var selector = document.getElementById('f_DepartureMonth');
                    var date = new Date();
                    var month = date.getMonth();
                    selector.selectedIndex = month
                </script>
                
                <select id="f_DepartureYear" name="DepartureYear">
                    <script>
                        var selector = document.getElementById('f_DepartureYear')
                        for (var i=0; i<= 1; i++){
                            var year = new Date().getFullYear() + i;
                            selector.options[i] = new Option(year.toString(), year.toString());
                        }
                    </script>
                </select>
                <br>
                
                <label>Time: </label>
                <select id ="f_DepartureHour" name = "DepartureHour">
                    <script>
                        var selector = document.getElementById('f_DepartureHour');
                        for (var i=1; i<13; i++){
                            var hour = i.toString();
                            if (i<10){
                                hour = "0" + i.toString();
                            }
                            selector.options[i-1] = new Option(hour, i);
                        }
                    </script>
                </select>
                <label>:</label>
                <select id ="f_DepartureMinute" name = "DepartureMinute">
                    <script>
                        var selector = document.getElementById('f_DepartureMinute');
                        for (var i=0; i<12; i++){
                            var minute = (5*i).toString();
                            if (i<2){
                                minute = "0" + (5*i).toString();
                            }
                            selector.options[i] = new Option(minute, 5*i);
                        }
                    </script>
                </select>
                <select id ="f_DepartureMeridian" name = "DepartureMeridian">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>
                
            </div>
            
            <label for="f_passengers">Number of Passengers: </label>
            <select id ="f_passengers" name = "Passengers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5 or more">5 or more</option>
            </select>
            
            <label for="f_fare">Fare: $ </label>
            <input id ="f_fare" name = "Fare" type="text">    <br>
            
            <div id="f_driverOptions" hidden="true">
                <label for="f_travelTime">Travel Time</label>
                <input id="f_travelTime" name="TravelTime>
            
                <label for="f_seats">Seats Available: </label>
                <select id ="f_seats" name = "SeatsAvailable">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5 or more">5 or more</option>
                </select>
            </div>
            <br>
            
            <input class = "button" id="submitPost" type = "submit">
        </form>
            
<% include chunks/footer %>