<%include chunks/header %>

        <div id = "websiteBio">
            <p> <h3>The Ultimate Travel Hub Has Arrived.</h3> <h4> Coordinate car pools, plan road trips, and save money in the process.
            With RideOrDrive, getting from point A to point B has never been easier.</h4></p>
        </div>
        
        <form id="login" method="post" action="/login">
            <fieldset>
                <legend>Login</legend>
                <label for="username">Username: </label>
                <input id = "username" type = "text" name = "username" placeholder= "username">
                <label for="password">Password: </label>
                <input id = "password" type = "password" name = "password" placeholder= "Password">
                <input id = "login_submit" type="submit">
            </fieldset>
        </form>
          
        <h1>Don't have an account?</h1>
        
       <form id = "registerForm" method="post" action="/getRegisterForm">
       </form>
       
       <button id = "getRegisterForm" type="submit" form = "registerForm">Sign Up!</button>

<% include  chunks/footer %>






