<% include chunks/header %>
<% include chunks/nav %>

        <div id = "searchBox">
            
            <p><i>Search Form</i></p>
            
            <label for="fromInput">To: </label>
            <input id = "fromInput" type = "From:" placeholder= "From: ">
            <label for="toInput">From:  </label>
            <input id = "toInput" type = "To:" placeholder = "To:">
            
            <label for="dayTimeInput">Time of Day: </label>
                <select id = "daytimeInput">
                    <option>Time of Day</option>
                    <option>Morning (4am-Noon)</option>
                    <option>Day (noon-8pm)</option>
                    <option>Night (8pm-4am</option>
                </select>

            <label for="date">Time of Day: </label>
            <input id = "date" type = "date"> 
            
            
            <button id = "rideRequestButton" type = "button">Request A Ride!</button>
            <button id = "driveOfferButton" type = "button">Offer To Drive!</button>
            
        </div>
    
    
    
    <div id = "travelWall">

        Put all your stuff here and it will scroll.  You can change the width and height to your needs.  and the background as well by putting background-color: #000000  instead of background.

    </div>
    
    
<% include chunks/footer %>