<% include chunks/header %>
<% include chunks/nav %>

        <div id = "searchBox">
            
            <p><i>Search Form</i></p>
            
            <label for="f_fromInput">To: </label>
            <input id = "f_fromInput">
            <label for="f_toInput">From:  </label>
            <input id = "f_toInput">
            
           <div id = "timeOfDeparture">
            
                <!-- TIME INPUT HERE -->
                
                <h3>Time of Departure (required)</h3>
                
                <label for="f_day">Day:</label>
                <input id = "f_day" name = "required" type = "text">
                    
                <label for="f_hour"> Hour: </label>
                <input id = f_hour" name = "required" type = "number">
                    
                <label for="f_minute"> Minute: </label>
                <input id = f_minute" name = "required" type = "number"> 
                
                <label for="f_amPM"> AM/PM: </label>
                <input id = f_amPM" name = "required" type = "text"> 
                
            </div>
           
           
           <div id = "timeOfArrival">
            
                <!-- TIME INPUT HERE -->
                
                <h3>Time of Arrival (optional)</h3>
                
            
                <label for="f_day">Day:</label>
                <input id = "f_day" type = "text">
                    
                <label for="f_hour"> Hour: </label>
                <input id = f_hour" type = "number">
                    
                <label for="f_minute"> Minute: </label>
                <input id = f_minute" type = "number"> 
                
                <label for="f_amPM"> AM/PM: </label>
                <input id = f_amPM" type = "text"> 
                
            </div>
           
            <button id = "rideRequestButton" type = "button">Request A Ride!</button>
            <button id = "driveOfferButton" type = "button">Offer To Drive!</button>
            
        </div>
    
    
    
    <div id = "travelWall">

        Put all your stuff here and it will scroll.  You can change the width and height to your needs.  and the background as well by putting background-color: #000000  instead of background.

    </div>
    
    
<% include chunks/footer %>