<% include chunks/header %>
<% include chunks/nav %>


        <div id = "searchBox">
            
            <h3 class = "title">Search Form</h3>
      
            <label for="f_fromInput">To: </label>
            <input id = "f_fromInput">
            <label for="f_toInput">From:  </label>
            <input id = "f_toInput"> <br>
            
            
            <form id = "timeOfDeparture">
                
                <!-- TIME INPUT HERE -->                
                <h4 class = "title">Time of Departure (required)</h4>
                
                <label for="f_day">Date:</label>
                <input id = "f_day" name = "required" type = "date"> <br>
                    
                <label for="f_hour"> Hour: </label>
                <input id = f_hour" name = "required" type = "number"><br>
                    
                <label for="f_minute"> Minute: </label>
                <input id = f_minute" name = "required" type = "number">
            
            </form>
           
           
            <form id = "timeOfArrival">
                
                <!-- TIME INPUT HERE -->
                        
                <h4 class = "title">Time of Arrival (optional)</h4>
                    
                
                <label for="f_day">Date:</label>
                <input id = "f_day" type = "date"><br>
                        
                <label for="f_hour"> Hour: </label>
                <input id = f_hour" type = "number" min="0" max="24"> <br>
                    
                <label for="f_minute"> Minute: </label>
                <input id = f_minute" type = "number" min="0" max="60"> 
                    
                <label for = "f_RideOrDriveOption">Are you a rider or driver?</label>
                <select id = "f_RideOrDriveOption" name = "RideOrDriveOption" required>
                    <option name="rider">Rider</option>
                    <option name="driver">Driver</option>
                </select>        
                                
            </form>
           
            <button class = "button" id = "rideRequestButton" type = "button" onclick = "rideRequest()">Search!</button>
            
            
        </div>
    
    
    
    <div id = "travelWall">

        Put all your stuff here and it will scroll.  You can change the width and height to your needs.  and the background as well by putting background-color: #000000  instead of background.

    </div>
    
    
<% include chunks/footer %>