<!DOCTYPE html> <!-- Using HTML5-->

<html> <!-- container for document-->
    
    <head>
        <meta charset= "utf-8">   <!--Character Encoding--> 
        <link rel = "stylesheet" href = "RegisterForm.css">
        <title>Ride Or Drive - Register</title>
    </head>

    <body>
        <div id = "header">
            <a id = "websiteLogo"> <img src= "http://www.greatersudbury.ca/sudburyen/assets/Image/carpool%20460.jpg" width = "100" height = "80"></a>
            
            <div id = "websiteTitle">
               <h1><em>RideOrDrive</em></h1>
            </div>
            
        </div>
        
        
        <div id = "registerBox">
            
            <p><i>Register Form</i></p>
            
            <div id = "pictureUpload">
                <a href = ""> <img src ="http://www.iitk.ac.in/ame/sae/img/default2.gif" width = "100" height = "100"></a> <br>
                <button type = "button" id = "uploadButton">Upload Picture (optional)</button>
            </div>
            
            <div id = "registerForms">
                <input id = "f_username" type = "Username" placeholder= "Username"> <br>
                <input id = "f_password" type = "Password" placeholder= "Password"> <br>
                <input id = "f_confirmPassword" type = "Password" placeholder = "Confirm Password"> <br>
                <input id = "f_firstName" type = "First Name" placeholder= "First Name"> <br>
                <input id = "f_lastName" type = "Last Name" placeholder= "Last Name"> <br>
                <input id = "f_date" type = "date"> <br>
                <input id = "f_phoneNumber" type = "Phone Number" placeholder= "Phone Number"> <br>
                <input id = "f_address" type = "Address" placeholder = "Address"> <br>
                <input id = "f_yearsOfDriverExperience" type = "Years of Driver Experience" placeholder= "Years of Driver Experience"> <br>
                <input id = "f_email" type = "Email" placeholder = "Email"> <br>
            </div>
            
            <textarea placeholder="About Me: " id= "tb_about"></textarea>
            
            
            <button type = "button" id = "signUpButton">Sign-Up</button>
            
            
        </div>
        
        
                
        <div id = "websiteContact">
            Web Site Contact Information
        </div>
        
        
    </body>
    
</html>








