<% include chunks/header %>

        <div id = "registerBox">
            
            <h3 class = "title">Register Form</h3>
            
            <div id = "pictureUpload">
                <a href = ""> <img src ="http://www.iitk.ac.in/ame/sae/img/default2.gif" width = "100" height = "100"></a> <br>
                <input type="file" name="dataFile" id="fileChooser" />
                <button type = "button" id = "uploadButton">Upload Picture (optional)</button>
            </div>
            
            
            
            <!-- This script checks to see if the password is at least 6 characters long or not. -->
            <!-- If it is not then it shows an error message in the label. -->
            <script>
                function checkPasswordLength(){
                    var password = document.getElementById('f_password').value;
                    
                    if (password.split("").length < 6){
                        document.getElementById('lb_short_password').hidden = false;
                        document.getElementById('signUpButton').disabled = true;
                    }
                    else{
                        document.getElementById('lb_short_password').hidden = true;
                        document.getElementById('signUpButton').disabled = false;
                    }
                }
            </script>
            
            <!-- This script checks if the two passwords are the same or not. -->
            <!-- If they are not then it shows the error message in the label. -->
            <script>
                function checkPasswords(){
                    var password = document.getElementById('f_password').value;
                    var confirmPassword = document.getElementById('f_confirmPassword').value;
                    
                    if (password != confirmPassword){
                        document.getElementById('lb_password_mismatch').hidden = false;
                        document.getElementById('signUpButton').disabled = true;
                    }
                    else{
                        document.getElementById('lb_password_mismatch').hidden = true;
                        document.getElementById('signUpButton').disabled = false;
                    }
                }
            </script>
            
            
            
            <form id = "registerForms" method = "post" action="/register">
                <label for="f_username">Username: </label>
                <input id = "f_username" name = "username" <br>
                
                <label for="f_password">Password: </label>
                <input id = "f_password" type = "Password" name = "password" onblur="checkPasswordLength()" required>
                <label id="lb_short_password" class="errors_msg" hidden="true" style="color:#ff0000;">Password has to be at least 6 characters long.</label>
                <br>
            
                <label for="f_confirmPassword">Confirm Password: </label>
                <input id = "f_confirmPassword" type = "Password" name = "confirm_password" onblur="checkPasswords()" required>
                <label id="lb_password_mismatch" class="errors_msg" hidden="true" style="color:#ff0000;">Passwords do not match!</label>
                <br>
                
                <label for="f_firstName">First Name: </label>
                <input id = "f_firstName" name = "firstName"> <br>
                
                <label for="f_lastName">Last Name: </label>
                <input id = "f_lastName" name = "lastName"> <br>
                
                <label for="f_birthday">Birthday: </label> <br>
                <select id ="birthday_day" name = "birthday_day">
                    <script>
                        var selector = document.getElementById('birthday_day')
                        for (var i=1; i<32; i++){
                            selector.options[i-1] = new Option(i.toString(), i.toString());
                        }
                    </script>
                </select>
                <select id="birthday_month" name="birthday_month">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <select id="birthday_year" name="birthday_year">
                    <script>
                        var selector = document.getElementById('birthday_year')
                        for (var i=0; i<= 100; i++){
                            var year = new Date().getFullYear() - 100 + i;
                            selector.options[i] = new Option(year.toString(), year.toString());
                        }
                    </script>
                </select>
                <br>
                
                <label for="f_gender">Gender: </label> <br>
                <select name = "gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select> <br>
                
                <label for="f_phoneNumber">Phone Number: </label>
                <input id = "f_phoneNumber" name = "phoneNumber"> <br>
                
                <label for="f_address">Address: </label>
                <input id = "f_address" name = "address"> <br>
                
                <label for="f_yearsOfDriverExperience">Years of Driver Experience: </label>
                <input id = "f_yearsOfDriverExperience" name = "driverExperiance"> <br>
                
                <label for="f_email">Email: </label>
                <input id = "f_email" name = "email"> <br>
            
                <div class = "box" id = "aboutMe">
                     <label for ="tb_about">About Me: </label>
                    <textarea id= "tb_about" name = "aboutMe"></textarea>
                </div>
                
                <input class = "button" id = "signUpButton" type="submit">
            </form>  
        </div>        

<% include chunks/footer %>