<% include chunks/header %>

        <div id = "registerBox">
            
            <h3 class = "title">Register Form</h3>
            
            <div id = "pictureUpload">
                <a href = ""> <img src ="http://www.iitk.ac.in/ame/sae/img/default2.gif" width = "100" height = "100"></a> <br>
                <button type = "button" id = "uploadButton">Upload Picture (optional)</button>
            </div>
                   
            <form id = "registerForms" method = "post" action="/register">
                <label for="f_username">Username: </label>
                <input id = "f_username" name = "username" <br>
                
                <label for="f_password">Password: </label>
                <input id = "f_password" type = "Password" name = "password"> <br>
            
                <label for="f_confirmPassword">Confirm Password: </label>
                <input id = "f_confirmPassword" type = "Password" name = "confirm_password"> <br>
                
                <label for="f_firstName">First Name: </label>
                <input id = "f_firstName" name = "firstName"> <br>
                
                <label for="f_lastName">Last Name: </label>
                <input id = "f_lastName" name = "lastName"> <br>
                
                <label for="f_birthday">Birthday: </label>
                <input id = "f_birthday" type = "date" name = "birthday"> <br>
                
                <label for="f_gender">Gender: </label>
                <select name = "gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select> <br>
                
                <label for="f_phoneNumber">Phone Number: </label>
                <input id = "f_phoneNumber" name = "phoneNumber"> <br>
                
                <label for="f_address">Address: </label>
                <input id = "f_address" name = "address"> <br>
                
                <label for="f_yearsOfDriverExperience">Years of Driver Experience: </label>
                <input id = "f_yearsOfDriverExperience" name = "driverExperiance"> <br>
                
                <label for="f_email">Email: </label>
                <input id = "f_email" name = "email"> <br>
            
                <div class = "box" id = "aboutMe">
                     <label for ="tb_about">About Me: </label>
                    <textarea id= "tb_about" name = "aboutMe"></textarea>
                </div>
                
                <input id = "signUpButton" type="submit">
            </form>  
        </div>        

<% include chunks/footer %>