/* Christian Yarros
    Ride Or Drive Login Page*/



/* Small Screen Default */
nav , sections, aside, footer {
}

/* Medium Screen Accomodation */
@media screen and (min-width: 480px) {
}

/* Large Screen Accomodation */
@media screen and (min-width: 800px) {
    
    a{
        color: white;
    }
    
    .title {
        font-family: sans-serif;
        text-align: left;
        letter-spacing: 0.2em;
        color: green;
    }
    
    .text, label {
        font-family: Century Gothic, sans-serif;
        letter-spacing: 0.1em;
        color: green;
        line-height: 2em;
    }
    
    input, select {
        width:200px;
        display:block;
        border: 1px solid #999;
        height: 25px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
    
    .button {
        background-color: green;
        border-radius:6px;
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        text-decoration: none;
        cursor: pointer;
        border:none;
        padding: 5px;
    }
    
    .box {
        border: 2px solid white;
        font-style: italic;
        font-family: sans-serif;
        text-align: left;
        letter-spacing: 0.2em;
        color: green;
        overflow: auto;
        display: table;
    }
    
      
    body{
        background-color: rgb(248,248,248) ;
        min-width: 980px;
    }
    
    
/* Header (Constant for every page) */    
    #header {
        display: inline-block;
        width: 100%;
        background-color: green;
    }
    
        #header #websiteLogo {
            display: inline-block;
            float: left;
            margin-top: 10px;
            margin-left: 10px;
        }
    
        #header #websiteTitle {
            font-family: Copperplate, sans-serif;
            font-size: 20px;
            display: inline-block;
            float: right;
            text-align: left;
            color: white;
            margin-right: 10px;
        }
    
/* Specific to LoginPage */


    #websiteBio {
        float:left;
        display: inline-block;
        width: 45%;
    }
    
    #websiteBio #slogan {
        font-family: Copperplate, sans-serif;
        font-size: 25px;
    }
    

    #login{
        margin-top: 20px;
    }

        #loginForms {
            margin-top: 50px;
            border: dotted;
            padding: 40px;
            border-color: white;
        }
    
        #signUpMessage {
            padding: 20px;
        }
    
    #login_submit, #registerForm, #getRegisterForm {
        float: right;
        clear: right;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 50px;
    }
    

/* Specific to RegisterForm page */    
    
    #registerBox {
        border: groove;
        overflow: auto;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom:10px;
        margin: 25px;
        width: 80%;
        min-width: 800px;
    }
    
        #registerBox #tb_about {
            float: right;
            clear: right;
            display: inline-block;
            margin: 30px;
            height: 200px;
            width: 200px;
        }
        
        
        #registerBox #signUpButton {
            display: block;
            margin: 30px;
            float: right;
            clear: right;
        }
    
    
    #pictureUpload {
        float: right;
        clear: right;
    }
    
        #pictureUpload img {
            float: right;
            padding: 10px;
            margin: 10px;
        }
        
        #pictureUpload #uploadButton {
            display: inline-block;
            float: right;
            clear: right;
        }
    

    #registerForms {
        float: left;
        display: table;
    }
    
        #registerForms input {
            margin: 5px;
            display:block;
        }
        
    #aboutMe {
        margin-top: 100px;
        display: inline-block;
        float: right;
        clear: right;

    }
        
/* Specific to PersonalPage */

    #navBar {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        min-width: 1160px;
    }
    
        #navBar h3 {
           border: solid;
           padding: 10px;
           margin: 5px;
           display: inline-block;
           border-radius: 5px;
           border-width: thin;
           background-color: green;
        }

        #navBar a:hover {
            text-decoration: none;
        }
    
    
/*    #searchBox {
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto;
        border: 2px solid black;
        border-radius: 10px;
        width: 1000px;
        height: 600px;
        display: block;
        padding: 10px;
    }
*/    
        #searchBox input, select {
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width:150px;
            border: 1px solid #999;
            height: 25px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);     
        }
    
/*        #searchBox #timeOfDeparture, #timeOfArrival {
            border: groove;
            padding: 20px;
            margin-left: 20px;
            margin-right: 75px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
        }
*/        
        
        #searchBox #date {
            margin-left: 75px;
            margin-right: 75px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
        }
    
        #searchBox #rideRequestButton, #driveOfferButton {
            display: inline-block;
            float: left;
            clear: right;
            padding: 10px; 
            margin-left: 50px;
            margin-top: 50px;
        }
    
    #travelWall {
        overflow: auto;
        background:transparent;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border: 2px groove;
        border-radius: 10px;
        width: 750px;
        height: 400px;
        display: block;
        padding: 10px;
    }
    
    
/* Footer (Constant for every page) */       
    #websiteContact {
        text-align: center;
        width: 100%;
        float: left;
        display: inline-block;
        margin-top: 250px;
    }
    
}