 /* Large Screen Accomodation */
@media screen and (min-width: 800px) {

    #currentPosts {
        border: groove 5px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding: 30px;
    }

    #currentPosts p {
        display: inline;
        font-size: 20px;
        color: black; 
    }
    
    .RiderPosts, .DriverPosts {
        margin-top: 50px;
        text-align: center;
        color: green;
    }
    
    #noPosts {
        text-align: center;
    }
    
    #currentPosts label {
        text-decoration: underline;
        font-size: 20px;
    }
    
    
    #vcp_fromAddress, #vcp_fromCity, #vcp_fromState, #vcp_toAddress, #vcp_toCity, #vcp_toState {
        display: inline-block;
    }